.idea/
.vs/
SIVA/bin/
SIVA/obj/
SIVA/Properties/
SIVA/data/BotConfig.json
SIVA/data/GuildConfigs.json
SIVA/data/UAccounts.json
SIVA/data/SIVA.db
*.user
*.vspscc
*.vssscc
*.log
SIVA/data/users.json
SIVA/data/serverconfigs.json
SIVA/data/config.json
