build/
.idea/
.vs/
src/Bot/bin/
src/Bot/obj/
src/Bot/Properties/
src/UI/bin/
src/UI/obj/
src/UI/Properties/
src/data/Volte.db
src/Bot/data/Volte.db
src/data/config.json
src/Bot/data/config.json
global.json
*.user
*.vspscc
*.vssscc
*.log