<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Nightly builds -->
    <packageSources>
        <add key="Qmmands Nightly" value="https://www.myget.org/F/quahu/api/v3/index.json" />
        <add key="Discord.Net Nightly" value="https://www.myget.org/F/discord-net/api/v3/index.json" />
    </packageSources>
</configuration>
