/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
nav {
  height: 40px !important;
  line-height: 40px !important;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px !important;
}
.onultz-nav {
	background: rgba(0,0,0,.3);
	height: 40px !important;
	line-height: 40px !important;
}
.onultz-navicon{
	line-height: 40px !important;
	width: 40px !important;
	padding-right: 0px !important;
}
.onultz-apps {
	background: rgba(33,150,243,.7);
	height: 40px !important;
}
.onultz-logo {
	filter: invert(0);
	transition: filter .3s;
}
.onultz-logo:hover {
	filter: invert(1);
}
.onultz-logo-container {
	width: 40px;
	transition: background-color .3s;
}
.onultz-logo-container:hover {
	background-color: #fff !important;
}
.nav-wrapper ul {
	margin-left: 40px;
}