/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
nav {
  height: 50px !important;
  line-height: 50px !important;
  background-image: url("../img/Mountain.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.onultz-nav {
	background: rgba(0,0,0,.3);
	height: 50px !important;
	line-height: 50px !important;
}
.onultz-navicon{
	line-height: 50px !important;
	width: 50px !important;
	padding-right: 0px !important;
}
.onultz-apps {
	background: rgba(33,150,243,.7);
	height: 50px !important;
}
.brand-logo {
	/*padding-left: 10px !important;
	float: left !important;
	font-size: 20px !important;*/
	margin-top:6px;
}
.onultz-logo {
	filter: drop-shadow(0px 0px 10px rgb(0,0,0));
	transition: filter .3s;
}
.onultz-logo:hover {
	filter: drop-shadow(0px 0px 10px rgb(0,0,0));
}
.onultz-pc-profile {
	max-width: 162px !important;
	margin: 0 10px;
}
.onultz-pc-profile a {
	padding: 0px;
	padding-right: 8px;
}
.onultz-pc-profile a:hover {
	background: rgba(0,0,0,0);
}
.onultz-pc-profile-container:hover{
	background: rgba(0,0,0,.4);
}
.onultz-pc-profile-container {
	background: rgba(0,0,0,.3);
	height: 50px !important;
	line-height: 50px !important;
	transition: background-color .3s;
}
/*.onultz-pc-profile strong {
	padding-left: 6px;
	padding-right: 6px;
}
.onultz-pc-profile img {
}

.onultz-pc-profile:hover {
	background: rgba(0,0,0,.2);
}*/